body {
    font-family:'Roboto', arial;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 30px;
    justify-content: space-between;
    margin-right: -220px;
    gap: 20px;
}

.links{
    margin-left: auto;
    flex-direction: row;
    display: flex;
    gap: 10px;
    padding: 0px 100px 0px 0px; 
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.hero{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -220px;
}
.hero img{
    height: 300px;
    width: auto;
}
.text{
    text-align: left;
    padding: 20px;
    font-size: 48px;
    font-weight: 900;
}
.text2 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 0;
}
.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.pc {
    display: flex;
    color: #1F2937;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: -200px;
}
.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photos img{
    border: 4px solid slateblue;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px 20px 0px 20px;
    border-radius: 15px;
}
.photos p{
    text-align: center;
}
.head{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote{
    display: flex;
    color: #1F2937;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-align: center;
    flex-direction: column;
    margin-right: -220px;
}

.quote1{
    font-style: italic;
}

.signup{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-right: -220px;
}
.blue{
    border: 10px solid #3882f6;
    border-radius: 20px;
    background-color: #3882f6;
    margin: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 100px;
    width: 400px;
    height: auto;
}
.blue button {
    display: block;
    text-align: center;
    width: 110px;
    border: 2px solid white;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}


.footer{
    background-color: white;
    color: #1F2937;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width: 768px)  {

    .header {
        display: flex;
        color: #F9FAF8;
        background-color: #1F2937;
        padding: 20px 0px 20px 100px;
        align-items: center;
        font-size: 30px;
        margin: 0;
    }    

    .hero img {
        height: 600;
        width: auto;
    }
    .hero {
        margin-right: 0;
    }
    .pc{
        margin-right: 0;
    }
    .quote {
        margin: 20px;
    }
    .signup{
        margin: 0;
    }
    }
